# Common developing stuff
/.out
/modpack/packwiz-installer-bootstrap.jar

# Logging stuff
*.log
/logs
/modpack/overrides/logs
/modpack/.minecraft
/modpack/overrides/config/fantasticlib
/modpack/mods/OptiFine_1.12.2_HD_U_G5.jar
/modpack/packwiz