# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:air
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:air
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        biomesoplenty:sacred_oak_fence_gate
        biomesoplenty:cherry_fence_gate
        biomesoplenty:umbran_fence_gate
        biomesoplenty:fir_fence_gate
        biomesoplenty:ethereal_fence_gate
        biomesoplenty:magic_fence_gate
        biomesoplenty:mangrove_fence_gate
        biomesoplenty:palm_fence_gate
        biomesoplenty:redwood_fence_gate
        biomesoplenty:willow_fence_gate
        biomesoplenty:pine_fence_gate
        biomesoplenty:hellbark_fence_gate
        biomesoplenty:jacaranda_fence_gate
        biomesoplenty:mahogany_fence_gate
        biomesoplenty:ebony_fence_gate
        biomesoplenty:eucalyptus_fence_gate
        biomesoplenty:sacred_oak_door_block
        biomesoplenty:cherry_door_block
        biomesoplenty:umbran_door_block
        biomesoplenty:fir_door_block
        biomesoplenty:ethereal_door_block
        biomesoplenty:magic_door_block
        biomesoplenty:mangrove_door_block
        biomesoplenty:palm_door_block
        biomesoplenty:redwood_door_block
        biomesoplenty:willow_door_block
        biomesoplenty:pine_door_block
        biomesoplenty:hellbark_door_block
        biomesoplenty:jacaranda_door_block
        biomesoplenty:mahogany_door_block
        biomesoplenty:ebony_door_block
        biomesoplenty:eucalyptus_door_block
        climaticbiomesjbg:pine_gate
        climaticbiomesjbg:pine_door
        cfm:door_bell
        cfm:door_bell_spruce
        cfm:door_bell_birch
        cfm:door_bell_jungle
        cfm:door_bell_acacia
        cfm:door_bell_dark_oak
        rsgauges:bistableswitch2
        rsgauges:bistableswitch8
        rsgauges:bistableswitch7
        rsgauges:bistableswitch1
        rsgauges:bistableswitch3
        rsgauges:bistableswitch5
        rsgauges:bistableswitch6
        rsgauges:pulseswitch1
        rsgauges:pulseswitch2
        rsgauges:pulseswitch6
        rsgauges:pulseswitch5
        rsgauges:pulseswitch3
        rsgauges:dimmerswitch1
        rsgauges:contactmat1
        rsgauges:contactmat2
        rsgauges:contactmat3
        rsgauges:trapdoorswitch1
        rsgauges:trapdoorswitch2
        rsgauges:trapdoorswitch3
        rsgauges:automaticswitch4
        rsgauges:automaticswitch7
        rsgauges:automaticswitch1
        rsgauges:automaticswitch2
        rsgauges:automaticswitch3
        rsgauges:automaticswitch5
        rsgauges:automaticswitch6
        rsgauges:observerswitch1
        rsgauges:relay_pulseswitchrx1
        rsgauges:relay_pulseswitchrx2
        rsgauges:relay_bistableswitchrx1
        rsgauges:relay_bistableswitchrx2
        rsgauges:relay_pulseswitchtx1
        rsgauges:relay_bistableswitchtx1
        rsgauges:industrial_knock_switch
        rsgauges:industrial_knock_button
        rsgauges:bistableswitch_rustic1
        rsgauges:bistableswitch_rustic2
        rsgauges:bistableswitch_rustic3
        rsgauges:bistableswitch_rustic7
        rsgauges:pulseswitch_rustic1
        rsgauges:pulseswitch_rustic2
        rsgauges:pulseswitch_rustic3
        rsgauges:pulseswitch_rustic7
        rsgauges:contactmat_rustic1
        rsgauges:contactmat_rustic2
        rsgauges:contactmat_rustic3
        rsgauges:trapdoorswitch_rustic1
        rsgauges:trapdoorswitch_rustic2
        rsgauges:trapdoorswitch_rustic3
        rsgauges:bistableswitch_glass1
        rsgauges:bistableswitch_glass2
        rsgauges:pulseswitch_glass1
        rsgauges:pulseswitch_glass2
        rsgauges:pulseswitch_glass3
        rsgauges:contactmat_glass1
        rsgauges:contactmat_glass2
        rsgauges:daytimeswitch_glass1
        rsgauges:timerswitch_glass1
        rsgauges:detectorswitch_glass1
        rsgauges:detectorswitch_glass2
        rsgauges:industrial_comparator_switch
        rsgauges:bistableswitch_oldfancy1
        rsgauges:bistableswitch_oldfancy2
        rsgauges:pulseswitch_oldfancy1
        rsgauges:pulseswitch_oldfancy2
        rsgauges:pulseswitch_oldfancy4
        rsgauges:powerplant_yellow
        rsgauges:powerplant_red
        rsgauges:bistableswitch4
        rsgauges:arrowtarget
        rsgauges:valve_wheel_switch
        rsgauges:elevator_button
        rsgauges:door_sensor_switch
        rsgauges:sensitiveglass
        rsgauges:sensitiveglass_white
        rsgauges:sensitiveglass_red
        rsgauges:sensitiveglass_green
        rsgauges:sensitiveglass_blue
        rsgauges:sensitiveglass_yellow
        rsgauges:sensitiveglass_orange
        rsgauges:sensitiveglass_magenta
        rsgauges:sensitiveglass_lightblue
        rsgauges:sensitiveglass_lime
        rsgauges:sensitiveglass_pink
        rsgauges:sensitiveglass_gray
        rsgauges:sensitiveglass_lightgray
        rsgauges:sensitiveglass_cyan
        rsgauges:sensitiveglass_purple
        rsgauges:sensitiveglass_brown
        rsgauges:sensitiveglass_black
        rsgauges:sensitiveglass_inverted
        rsgauges:pulseswitch_rustic4
        rsgauges:pulseswitch_rustic5
        rsgauges:pulseswitch_rustic6
        rsgauges:pulseswitch_oldfancy3
        rsgauges:bistableswitch_oldfancy3
        rsgauges:bistableswitch_oldfancy4
        rsgauges:bistableswitch_oldfancy5
        rsgauges:bistableswitch_oldfancy6
        rsgauges:bistableswitch_oldfancy7
        rsgauges:bistableswitch_rustic4
        rsgauges:bistableswitch_rustic5
        rsgauges:bistableswitch_rustic6
        thedalekmod:vanilla_handbrake
        thedalekmod:landmine
        thedalekmod:b_black_shop_door
        thedalekmod:b_glass_door
        thedalekmod:b_shop_door
        thedalekmod:b_concrete_door
        thedalekmod:b_dalekanium_door
        thedalekmod:b_eighties_door
        thedalekmod:b_granite_door
        thedalekmod:b_hartnell_door
        thedalekmod:b_stainless_door
        thedalekmod:b_steel_door
        thedalekmod:b_metalert_door
        customnpcs:npcscripteddoor
        davincisvessels:crate_wood
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


